//////////* some text styling stuff *//////////

.section__header {
    font-weight: bold;
    font-size: 32px;
    padding-top: 30px;
}

.section--text {
    font-size: 24px;
    padding: 30px 0;
}

em {
    font-style: italic;
}

.blue__text {
    color: rgb(70, 89, 213);
}